# LAB-2

1. Write a OOP in python to input empid, name, basic salary, no. of experience in yrs.
Calculate hra(35% of basic), da (58% of basic) and pf (9.5% of basic).
Also calculate bonus based on experience in years.
If experience in years is >= 30, bonus must be 59% of basic,
If experience in years is >=23, bonus must be 51% of basic,
If experience in years is >=15, bonus must be 45% of basic,
If experience in years is >=7, bonus must be 33% of basic,
If experience in years is <7, bonus must be 16% of basic
Calculate netsalary as basic+da+hra-pf+bonus.
Create a class, constructor to create instance variables, getter-setter for each variable,
calculative functions for operative variables. A class methods/function should not contain

In [ ]:
class Employee:
    def __init__(self,empId,empName,empSalary,empExp):
        self.empId=empId
        self.empName =empName
        self.empSalary = empSalary
        self.empExp =empExp
        self.hra =0
        self.da =0
        self.pa =0
        self.bonus=0
          
    def calcHra (self):
    
      self.hra = 0.35 * self.empSalary
        
        
    def calcDa(self):
    
       self.da = 0.58 * self.empSalary
              
    def calcPf(self):
    
       self.pa = 0.095 * self.empSalary
        
    def calcBonus(self):
        
        if self.empExp >= 30:
            self.bonus = 0.59 * self.empSalary
        elif self.empExp >= 23:
            self.bonus = 0.51* self.empSalary
        elif self.empExp >= 15 :
            self.bonus = 0.45 * self.empSalary
        elif self.empExp >=7 :
            self.bonus = 0.33 * self.empSalary
        else :
            self.bonus =0.16 * self.empSalary
            
            
            
    def calcNetSalary(self):
        
        self.calcHra()
        self.calcDa()
        self.calcPf()
        self.calcBonus()
        self.netSalary = self.empSalary+self.hra+self.da+self.bonus-self.pa
        return self.netSalary
    

    
    

    if __name__=="__main__":
        
        salaryCalc = Employee(10,'Matin',1300000,3)
        salaryCalc.calcNetSalary()
        print(f'Net salary is : {salaryCalc.calcNetSalary()}')

2. Write an OOP based Python program which inputs n numbers in a list from keyboard. If 8
numbers are inputted, calculate sum of 0th and 7th element and save it in another list say
newlist[0], sum of 1st and 6th to newlist[1], sum of 2nd and 5th to newlist[2], sum of 3rd and 4th
to newlist[3] and so on. Remove duplicates from newlist if any by converting to set. Later
convert it to tuple and display.

In [8]:
n = int(input("Enter Array Length:"))
lst = []
newLst = []
for i in range(0,n):
    newNum = int(input("num:"))
    lst.append(newNum)
print("old List")    
print(lst)
for i in range(0,int(n/2)):
    b=lst[i] + lst[n-1-i]
    newLst.append(b)
print("New List")    
print(newLst)

Enter Array Length:4
num:20
num:40
num:29
num:40
old List
[20, 40, 29, 40]
New List
[60, 69]

3. Write an OOP program to perform addition, base and power, concatenation, max, min of two
numbers stored in two different objects created from same class.
n1=MyNumber(2)
n2=MyNumber()
n2.setNum(5)
n3=n1.add(n2)
print("Addition is ",n3.getNum()) #7
n3=n1.raisedTo(n2)
print(n1.getNum()," raised to ",n2.getNum()," is ",n3.getNum()) #32
n3=n1.concat(n2)
print("Concat answer is ",n3.getNum()) #25
n3=n1.max(n2)
print("Max is ",n3.getNum())

In [1]:
class Operations :
    def __init__ (self,num):
        self.num = num
    def getNum(self):
        return self.num
    def add(self,n2):
        return self.num + n2.num
    def power(self,n2):
        return self.num**n2.num
    def conca(self,n2):
        return int(str(self.num)+str(n2.num))
    def Max(self,n2):
        return max(self.num,n2.num)
    def Min(self,n2):
        return min(self.num,n2.num)
n1 = Operations(7)
n2 = Operations(3)
n1.getNum()

n3 = n1.add(n2)

print(n3)
n3 =n1.power(n2)
print("The Power is : ",n3)
n3 =n1.conca(n2)
print("The conca is:",n3)
n3 =n1.Max(n2)
print("The Max is :",n3)
n3 =n1.Min(n2)
print("The Min is :",n3)

10
The Power is :  343
The conca is: 73
The Max is : 7
The Min is : 3

# lab3

1. Write a python program to access following data structure
data=[(12345,"Diksha ","Diksha r@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),
(16789,"Ronit","Ronitd@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]

In [1]:
data = [(1234,"Diksha","Dikshar@numv.ac.in"),(45667,"Jiva","Jiva@numv.ac.in")
        ,(16789,"Ronitd","Ronitd@numv.ac.in"),(69433,"Henna","Henna@numv.ac.in")]
ID = int(input("Enter A ID:"))
Name = str(input("Enter A Name:"))
Email = str(input("Enter A Email:"))

def searchById() :
     for i in range(0,len(data)):
   
    
        if(data[i][0] == ID):
             print(data[i])
# def searchByName():
#      for i in range(0,len(data)):
   
    
#         if(data[i][1] == Name):
#              print(data[i])                
# def searchByEmail():
#      for i in range(0,len(data)):
   
    
#         if(data[i][2] == Email):
#              print(data[i])   
                
                
searchById()
# searchByName()
# searchByEmail()

Enter A ID:1234
Enter A Name:chbcvb
Enter A Email:bc
(1234, 'Diksha', 'Dikshar@numv.ac.in')

2. Write a python program to access following dictionary
Mydict =
{"Enrollment Id" : [12345,45667,16789,69433],
"Student Name : ["Diksha ","Jiva","Ronit","Heena"],
"Email Id ": ["Diksha r@nuv.ac.in","Jiva@nuv.ac.in","Ronitd@nuv.ac.in",
 "Heena@nuv.ac.in"] }
 print(f"{enrolid:<7}{sname:12}{emailid:25}")

In [ ]:
data = [(1234,"Diksha","Dikshar@numv.ac.in"),(45667,"Jiva","Jiva@numv.ac.in")
        ,(16789,"Ronitd","Ronitd@numv.ac.in"),(69433,"Henna","Henna@numv.ac.in")]
ID = int(input("Enter A ID:"))
# Name = str(input("Enter A Name:"))
# Email = str(input("Enter A Email:"))

def searchById() :
    
     for i in range(0,len(data)):
   

    
        if(data[i][0] == ID):
             print(data[i])
# def searchByName():
#      for i in range(0,len(data)):
   
    
#         if(data[i][1] == Name):
#              print(data[i])                
# def searchByEmail():
#      for i in range(0,len(data)):
   
    
#         if(data[i][2] == Email):
#              print(data[i])   
                
                
searchById()
# searchByName()
# searchByEmail()

In [6]:
MyD = {"ID":[12345,45667,16789,69433],
        "Name":["Dikasa","Jiva","Ronit","Henna"],
        "Email":["Dikasa@nuv.ac.in","Jiva@nuv.ac.in","Ronit@nuv.ac.in","Henna@nuv.ac.in"]}

ID= int(input())

for i in MyD:
    if(i == "ID"):
        for j in range (0,len(MyD[i])):
             if(MyD[i][j] == ID):
                print(MyD[i][j],MyD["Name"][j],MyD["Email"][j])
# for i in MyD:
#     if(i == "Name"):
#         for j in range (0,len(MyD[i])):
#              if(MyD[i][j] == "Jiva"):
#                 print(MyD["ID"][j],MyD[i][j],MyD["Email"][j])
# for i in MyD:
#     if(i == "Email"):
#         for j in range (0,len(MyD[i])):
#              if(MyD[i][j] == "Henna@nuv.ac.in"):
#                 print(MyD["ID"][j],MyD["Name"][j],MyD[i][j])

12345
12345 Dikasa Dikasa@nuv.ac.in

3. Write a python program to convert data in nested list structure to dictionary.
eg. data=[(12345,"Diksha ","Diksha r@nuv.ac.in"),(45667,"Jiva","Jiva@nuv.ac.in"),
(16789,"Ronit","Ronit@nuv.ac.in"),(69433,"Heena","Heena@nuv.ac.in")]
Provide key such as Enrollment Id, Student Name, and Email id.
Resultant Data
mydict={"Enrollment Id" : [12345,45667,16789,69433],
"Student Name : ["Diksha ","Jiva","Ronit","Heena"], "Email Id "
:["Diksha@nuv.ac.in","Jiva@nuv.ac.in","Ronitd@nuv.ac.in","Heena@nuv.ac.in"]
}
Display data in a tabular format.

In [1]:
data = [(1234,"Diksha","Dikshar@numv.ac.in"),(45667,"Jiva","Jiva@numv.ac.in")
        ,(16789,"Ronitd","Ronitd@numv.ac.in"),(69433,"Henna","Henna@numv.ac.in")]
dic={
  "ID":[],
  "Name":[],
  "Email":[],  
}

for i in data :
    dic["ID"].append(i[0])
    dic["Name"].append(i[1])
    dic["Email"].append(i[2])
print(dic)

{'ID': [1234, 45667, 16789, 69433], 'Name': ['Diksha', 'Jiva', 'Ronitd', 'Henna'], 'Email': ['Dikshar@numv.ac.in', 'Jiva@numv.ac.in', 'Ronitd@numv.ac.in', 'Henna@numv.ac.in']}

# 4. Write a menu driven Object Oriented program to store Students details like Enrollment No,
Student Name and Contact Number permanently using dictionary data structure.
Add functions to add, update, delete and display data. Save data permanently in a JSON file.
HINT:
To import json library
import json
To write any object to python
fw=open("students.json","w")
jsndata = json.dumps(dictionary of students details)#dumps converts dictionary to json
fw.write(jsndata)
To read any json object from file
fr=open("students.json","r")
allStudents=json.load(fr) #reads whole file and returns the data.

In [28]:
import json

with open("data.json","r") as r:
    
   data = r.read()
   print(data)
    

    
data = {
    "name":"Yash",
    "rolNo":22000270,
    "No":897656094
}
with open("data.json","a") as m:
      finalData = json.dumps(data,indent=4)

5. A data.csv file has following data(stateid, name, population in crores, No. of Universities)
data.csv
12001,Gujarat,10,29,12002,Maharashtra,19,36,12003,Rajasthan,13,31,12004,Madhya
Pradesh,14,21,12005,Punjab,12,13,12006,Karnataka,23,31,12007,Tamilnadu,25,29,1208,Keral
a,21,15
Read data.csv file. Transfer data to data structure like following
States={
12001: {"name":"Gujarat","population":10,"no_of_uni":20},
12002: {"name":"Maharashtra","population":19,"no_of_uni":36}
}
Using this data, construct dictionary in following manner

In [16]:
import pandas as pd
df=pd.read_csv("data.csv")
keys = list(df.keys())
print(keys)
value=list(df.values)
states={}
for d in value:
    print(d)
    states[d[0]]={
        keys[1]:d[1],
        keys[2]:d[2],
        keys[3]:d[3]
        
    }
states

['stateId', 'name', 'population', 'no. university']
[12001 'Gujarat' 10 29]
[12002 'Maharashtra' 19 36]
[12003 'Rajasthan' 13 31]
[12004 'Madhyapradesh' 14 21]
[12005 'Punjab' 12 13]
[12006 'Karnataka' 23 31]
[12007 'TamilNadu' 25 29]
[12008 'Kerala' 21 15]

{12001: {'name': 'Gujarat', 'population': 10, 'no. university': 29},
 12002: {'name': 'Maharashtra', 'population': 19, 'no. university': 36},
 12003: {'name': 'Rajasthan', 'population': 13, 'no. university': 31},
 12004: {'name': 'Madhyapradesh', 'population': 14, 'no. university': 21},
 12005: {'name': 'Punjab', 'population': 12, 'no. university': 13},
 12006: {'name': 'Karnataka', 'population': 23, 'no. university': 31},
 12007: {'name': 'TamilNadu', 'population': 25, 'no. university': 29},
 12008: {'name': 'Kerala', 'population': 21, 'no. university': 15}}

In [4]:
import pandas as pd
import json

df =pd.read_csv("data.csv")
states={}
v=df.values
for i in v:
    states[i[0]]={
      "name":i[1],
        "population":i[2],
        "Unvi":i[3]
    }
print(states)
finalData = json.dumps(states)
newFile =open("data2.csv","w")
newFile.write(finalData)

{12001: {'name': 'Gujarat', 'population': 10, 'Unvi': 29}, 12002: {'name': 'Maharashtra', 'population': 19, 'Unvi': 36}, 12003: {'name': 'Rajasthan', 'population': 13, 'Unvi': 31}, 12004: {'name': 'Madhyapradesh', 'population': 14, 'Unvi': 21}, 12005: {'name': 'Punjab', 'population': 12, 'Unvi': 13}, 12006: {'name': 'Karnataka', 'population': 23, 'Unvi': 31}, 12007: {'name': 'TamilNadu', 'population': 25, 'Unvi': 29}, 12008: {'name': 'Kerala', 'population': 21, 'Unvi': 15}}

494

In [3]:
import pandas as pd

In [27]:
import json
 
with open("data.json","r") as r:
    
  data = r.read()
  print(data)
    
data = {
    "name":"Yash",
    "rolNo":22000270,
    "No":897656094
}
with open("data.json","w") as w:
      finalData = json.dumps(data,indent=4)
print(finalData)

{
    "name": "Yash",
    "rolNo": 22000270,
    "No": 897656094
}